
services:
  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
    networks:
      - yuumi-network
    environment:
      - MYSQL_HOST=db
      - MYSQL_DATABASE=yuumishop
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: yuumishop
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - yuumi-network

networks:
  yuumi-network:

volumes:
  db_data: